{% extends "tarefas_master.html" %}
{% load static%}

{% block content %}
<header>
<h1 class="tarefas_h1">Tarefas Ciência de Dados - 2023</h1>
<p class="total_tarefas"> Total de tarefas: {{tarefas|length}}</p>
</header>
<nav>
<select name="status" id="status">
{% for tarefa in tarefas_unique_status %}
<div class="status__option">
    <option value="{{tarefa.0}}"> {{tarefa.1}}</option>
</div>
{% endfor %}
</select>
</nav>

<div class="tarefas">

{% for tarefa in tarefas %}
    <div class="tarefa" status="{{tarefa.status}}">
    <h1> {{tarefa.name}} <span class="tarefa_status">{{tarefa.get_status_display}}</span></h1>
    <a href="{% url 'tarefa' tarefa.id%}">Detalhes</a>
    <h2>Descrição</h2>
    <p class="tarefa__detalhes">{{tarefa.description}}</p>
    </div>
{% endfor %}
</div>

<script src="{% static 'tarefas/js/tarefas.js' %}"></script>
{% endblock content %}